{
  "CN": "system:node:{{ item }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "AZ",
      "L": "Khatai",
      "O": "system:nodes",
      "OU": "Kubernetes The Hard Way",
      "ST": "Baku"
    }
  ]
}
