{
        "PORT": "{{ nodeServicePort }}",
        "API_HOST": "core.{{ APIHOST }}",
        "API_PORT": 80,
        "google.client_email": "{{ googleClientEmail }}",
        "google.private_key": "{{ googlePrivateKey }}",
        "apple.secret": "{{ appleSecret }}"
}

