APP_ENV="{{ APPENV }}"
APP_SECRET="{{ APPSECRET }}"
SITE_BASE_URL="{{ SITEBASEURL }}"
CLIENT_SITE_BASE_URL="{{ CLIENTSITEBASEURL }}"
AWS_S3_PATH_STYLE_ENDPOINT="{{ AWSS3PATHSTYLEENDPOINT }}"
AWS_S3_ENDPOINT_NAME="{{ AWSS3ENDPOINTNAME }}"
AWS_S3_BUCKET_NAME="{{ AWSS3BUCKETNAME }}" 
AWS_S3_REGION="{{ AWSS3REGION }}"
AMQP_HOST="{{ AMQPHOST }}"
AMQP_PORT="{{ AMQPPORT }}"
PAYMENT_URL_ANDROID="{{ PAYMENTURLANDROID }}"
PAYMENT_URL_APPLE="{{ PAYMENTURLAPPLE }}"
NODE_SERVER_BASE_URL="{{ NODESERVERBASEURL }}"
